.forum-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 45rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./questionflip.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.forum-container .image-container {
  height: 16.66rem;
  margin-bottom: 1rem;
}

.hero-text {
  text-align: center;
  position: absolute;
  left: 50%;
  margin-top: 3.5%;
  transform: translate(-50%, -50%);
  color: rgb(221, 221, 221);
}

.hero-text h1 {
  transform: scaleY(1.1);
}

.hero-text h2 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.72rem 1.7rem;
  color: #ffffff;
  transition: background-color 0.5s;

  border-style: solid;
  border-radius: 3px;
  border-color: #66fcf1;
}

.hero-text h2 a {
  text-decoration: none;
  color: white;
}

.hero-text h2:hover {
  cursor: pointer;
  background-color: #45a29e;
}
