.tutors {
  display: inline;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0.5rem 2.3rem 0.5rem;
}

.tutor-info{
  border-style: solid;
  border-width: medium;
  border-color: whitesmoke;
  justify-content: left;
}

.tutors .image-container {
  height: 16.66rem;
  margin-bottom: 1rem;
  margin-left: 10rem;
  width: 15%;
  align-content: center;
}

.tutors h1 {
  font-size: 4rem;
  color: whitesmoke;
  font-weight: 600;
  margin-top:1%;
  margin-left: 43rem;
  align-items: center;
}

.tutors h2 {
  display: flex;
  justify-content: space-between;
  margin-left: 43rem;
  font-size: 35px;
  align-items: center;
  color: whitesmoke;
}

img {
  height: 100%;
  position: static;
  justify-content:  center;
}