.tutors {
  display: inline;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0.5rem 2.3rem 0.5rem;
  text-align: center;
}

.tutors .image-container {
  height: 16.66rem;
  margin-bottom: 1rem;
  padding-left: 10%;
  width: 10%;
}

.tutors h1 {
  margin-bottom: 0.5rem;
  color: grey;
  font-weight: 600;
}

.tutors h2 {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  align-items: center;
}
