.tutors {
  /* display: inline; */
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0.5rem 2.3rem 0.5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./note.jpg");
    background-size: cover;
  height: 100%;
  margin-left: 0%;
  margin-right: 0%;
}

.tutor-info{
  border-top: solid;
  border-bottom: solid;
  border-width: medium;
  border-color: whitesmoke;
  justify-content: left;
  
}

.tutors .image-container {
  height: 16.66rem;
  margin-bottom: 1rem;
  margin-left: 10rem;
  width: 15%;
  align-content: center;
  
}

.tutors h1 {
  color: whitesmoke;
  font-weight: 600;
  margin-top:1%;
  margin-left: 43rem;
  align-items: center;
}

.tutors h2 {
  display: flex;
  justify-content: space-between;
  margin-left: 43rem;
  align-items: center;
  color: whitesmoke;
}

img {
  height: 100%;
  position: static;
  justify-content:  center;
}